{{ 'aujla-responsive-left-right.css' | asset_url | stylesheet_tag }}

<div
  class="ag-product-lr-container color-{{section.settings.color_scheme}} gradient"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
  {% if settings.animations_reveal_on_scroll %}
    scroll-trigger animate--slide-in
  {% endif %}
>
  {% for block in section.blocks %}
    {% if block.type == 'lr-content' %}
      <div class="ag-product-content-lr">
        <div class="ag-product-content-lr-image">
          <div>
            <img
              src="{{ block.settings.content_product_image | image_url  }}"
              alt="{{ block.settings.content_product_title }}"
              class="product-image ag-desktop-image"
              height="100%"
              width="100%"
            >
            <img
              src="{{ block.settings.content_product_image_m | image_url }}"
              alt="{{ block.settings.content_product_title }}"
              class="product-image ag-mobile-image"
              height="100%"
              width="100%"
            >
          </div>
        </div>
        <div class="ag-product-content-lr-content">
          <h2>{{ block.settings.content_product_title }}</h2>
          <p>{{ block.settings.content_product_desciption }}</p>
        </div>
      </div>
    {% elsif block.type == 'rl-content' %}
      <div class="ag-product-content-rl">
        <div class="ag-product-content-rl-content">
          <h2>{{ block.settings.content_product_title }}</h2>
          <p>{{ block.settings.content_product_desciption }}</p>
        </div>
        <div class="ag-product-content-rl-image">
          <div>
            <img
              src="{{ block.settings.content_product_image | image_url }}"
              alt="{{ block.settings.content_product_title }}"
              class="product-image ag-desktop-image"
              height="100%"
              width="100%"
            >
            <img
              src="{{ block.settings.content_product_image_m | image_url }}"
              alt="{{ block.settings.content_product_title }}"
              class="product-image ag-mobile-image"
              height="100%"
              width="100%"
            >
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Responsive Left Right",
  "tag": "section",
  "class": "ag-responsive-left-right-content",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],

  "blocks": [
    {
      "name": "Left Image Right Content",
      "type": "lr-content",
      "settings": [
        {
          "type": "image_picker",
          "id": "content_product_image",
          "label": "Content Image DeskTop"
        },
        {
          "type": "image_picker",
          "id": "content_product_image_m",
          "label": "Content Image Mobile"
        },
        {
          "type": "text",
          "id": "content_product_title",
          "label": "Content Title"
        },
        {
          "type": "richtext",
          "id": "content_product_desciption",
          "label": "Content Description"
        }
      ]
    },
    {
      "name": "Right Image Left Content",
      "type": "rl-content",
      "settings": [
        {
          "type": "image_picker",
          "id": "content_product_image",
          "label": "Image for Content"
        },
        {
          "type": "image_picker",
          "id": "content_product_image_m",
          "label": "Content Image Mobile"
        },
        {
          "type": "text",
          "id": "content_product_title",
          "label": "Content Title"
        },
        {
          "type": "richtext",
          "id": "content_product_desciption",
          "label": "Content Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Page LR | Aujla",
      "blocks": [
        {
          "type": "lr-content"
        },
        {
          "type": "rl-content"
        },
        {
          "type": "lr-content"
        }
      ]
    }
  ]
}
{% endschema %}
