{{ 'aujla-responsive-tabs.css' | asset_url | stylesheet_tag }}
<script src="{{ 'aujla-responsive-tabs.js' | asset_url }}" defer></script>

<div
  class="custom-responsive-tabs-wrapper color-{{ section.settings.color_scheme }} gradient"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  {% if section.blocks.size > 0 %}
    <div class="custom-tabs">
      <ul class="custom-tabs-nav">
        {% for block in section.blocks %}
          <li class="tab-nav-item{% if forloop.first %} active{% endif %}" data-tab="tab-{{ block.id }}">
            {{ block.settings['custom-responsive-tabs-title'] }}
          </li>
        {% endfor %}
      </ul>

      <div class="custom-tabs-content">
        {% for block in section.blocks %}
          <div class="tab-content-item{% if forloop.first %} active{% endif %}" id="tab-{{ block.id }}">
            {{ block.settings['custom-responsive-tabs-content'] }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Responsive Tabs",
  "tag": "section",
  "class": "ag-responsive-tabs",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "name": "Add Tabs Item",
      "type": "custom-tabs-items",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "custom-responsive-tabs-title",
          "label": "Tab Title",
          "default": "Sample Tabs Title"
        },
        {
          "type": "richtext",
          "id": "custom-responsive-tabs-content",
          "label": "Tab Content",
          "default": "<p>Sample Tabs Content</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Responsive Tabs | Aujla",
      "blocks": [
        {
          "type": "custom-tabs-items"
        },
        {
          "type": "custom-tabs-items"
        },
        {
          "type": "custom-tabs-items"
        }
      ]
    }
  ]
}
{% endschema %}
